<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diceRoll</title>
</head>
<body>
<div class="container" style="text-align: center">
    <form action="">
        <input type="number" name="sides" placeholder="number of dice's sides">
        <input type="submit" value="mehet">
    </form>
    <h2 data-th-text="${sides} + ' oldalú kockával dobtál, a dobás eredménye:'"></h2>
    <div style="font-size: 200px" data-th-text="${number}"></div>
    <br>
    <a href="javascript:history.go(0)">dobj újra</a>
    <br>
    <br>
    <br>
    <a href="\">vissza a kezdőoldalra</a>
</div>
</body>
</html>