<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Message</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav offset-2">
        <li><a class="nav-link" th:href="@{/}">Home</a></li>
        <li><a class="nav-link" th:href="@{/createNewMessage}">New message</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>Signed in as:<li th:text="'&nbsp;' + ${name}"></li></li>
    </ul>
</nav>
<form method="POST" th:action="@{/newMessage}" th:object="${newMssg}">
    <table>
        <tr>
            <td>your message:</td>
        </tr>
        <tr>
            <td>
                <textarea th:field="*{messageText}" rows="4" cols="50"></textarea>
            </td>
        </tr>
        <tr>
            <td>your name:</td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{messageAuthor}"/>
            </td>
        </tr>
        <!--    <p th:if=${#fields.hasErrors('messageText')} th:errors="*{messageText}">Az üzenet szövege nem lehet üres</p>-->
        <tr>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>