<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register here!</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/registrationPage}">
        <h2 class="form-signin-heading">Please register</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" th:name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" th:name="password" class="form-control" placeholder="Password" required>
        </p>
        <input name="_csrf" type="hidden" value="4274a372-e6de-449b-b043-bc9d6e3b64ea" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
</html>