<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav offset-2">
        <li><a class="nav-link" th:href="@{/}">Home</a></li>
        <li><a class="nav-link" th:href="@{/createNewMessage}">New message</a></li>
        <li><a class="nav-link" th:href="@{/createTopic}">New topic</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>Signed in as:
        <li th:text="'&nbsp;' + ${name}"></li>
        </li>
    </ul>
</nav>
<div class="searchInTheMessages">
    <form method="POST" th:action="@{/searchInMessages}" th:object="${searchExpr}">
        <table>
            <tr>
                <td>Search by author:</td>
                <td><input type="text" th:field="*{messageAuthor}" placeholder="author"></td>
                <td th:if="${#fields.hasErrors('messageAuthor')}" th:errors="*{messageAuthor}"></td>
                </p>
            </tr>
            <tr>
                <td>Search by part of message:</td>
                <td><input type="text" th:field="*{messageText}" placeholder="text of message"></td>
            </tr>
            <tr>
                <td>Search by topic:</td>
                <td>
                    <!--<input type="text" th:field="*{messageTopic}" placeholder="topic of message"></td>-->
                    <select th:field="*{messageTopic}">
                        <option value=""></option>
                        <option th:each="topic : ${topicList}"
                                th:value="${topic.topicName}"
                                th:selected="${null}"
                                th:text="${topic.topicName}"></option>
                    </select>
            </tr>
            <tr>
                <td>Order by:</td>
                <td>
                    <select th:field="*{selectedSortBy}">
                        <option th:each="sortByListMember : ${sortByList}"
                                th:value="${sortByListMember}"
                                th:text="${sortByListMember}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Order:</td>
                <td>
                    <select th:field="*{selectedSortOrder}">
                        <option th:each="sortOrderListMember : ${sortOrderList}"
                                th:value="${sortOrderListMember}"
                                th:text="${sortOrderListMember}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Search"></td>
            </tr>
        </table>
    </form>
</div>
<div class="showTheMessages">
    <a th:href="@{/messages}"><h2>Messages</h2></a>
    <table>
        <thead>
        <tr>
            <td>message id</td>
            <td>author of message</td>
            <td>text of message</td>
            <td>topic of message</td>
            <td>datetime of message</td>
        </tr>
        </thead>
        <tr data-th-each="message: ${messages}">
            <td data-th-text="${message.messageId}"></td>
            <td data-th-text="${message.messageAuthor.userName}"></td>
            <td data-th-text="${message.messageText}"></td>
            <td data-th-text="${message.topic.topicName}"></td>
            <td data-th-text="${message.timeOfCreation}"></td>
            <td>
                <a th:href="@{'/messages/' + ${message.messageId}}">link</a>
                <form method="POST" th:action="@{/searchInMessages}" th:object="${searchExpr}">
                    <a href="javascript:;" th:onclick="@{'/messages/' + ${message.messageId}}">edit</a>
                </form>
                <a th:href="@{'/reactionTo/' + ${message.messageId}}">react</a>
            </td>
        </tr>
    </table>
</div>
<!--<div th:if="${not #lists.isEmpty(showap)}">-->
<!--    <form method="POST" th:action="@{/newMessage}" th:object="${newMssg}">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>your message:</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <textarea th:field="*{messageText}" rows="4" cols="50"></textarea>-->
<!--                </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;    <p th:if=${#fields.hasErrors('messageText')} th:errors="*{messageText}">Az üzenet szövege nem lehet üres</p>&ndash;&gt;-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="submit" value="Submit"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>